<a href="https://colab.research.google.com/github/meti-94/OpenQA/blob/main/Freebase_Relation_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install necessary libraries

In [1]:
# Install main transformers library
!pip install transformers -q
!rm -rf OpenQA/
!git clone https://github.com/meti-94/OpenQA.git

Cloning into 'OpenQA'...
remote: Enumerating objects: 231, done.
remote: Counting objects: 100% (231/231), done.
remote: Compressing objects: 100% (195/195), done.
remote: Total 231 (delta 95), reused 130 (delta 29), pack-reused 0
Receiving objects: 100% (231/231), 102.61 MiB | 33.97 MiB/s, done.
Resolving deltas: 100% (95/95), done.

# Import libraries

In [2]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from transformers import AutoConfig, AutoTokenizer, AutoModel, BertForSequenceClassification
from sklearn.metrics import classification_report
from sklearn import preprocessing

# load up data to classifiy

The data comes from famous BBQA processed data after running relative scripts

In [3]:
!pip install --upgrade openpyxl -q

In [4]:
## loading data
## X --> Texts
## y --> Labels
le = preprocessing.LabelEncoder()
df_train = pd.read_excel('/content/OpenQA/data/freebase/train_useful_records.xlsx')
df_valid = pd.read_excel('/content/OpenQA/data/freebase/valid_useful_records.xlsx')
df_test = pd.read_excel('/content/OpenQA/data/freebase/test_useful_records.xlsx')
le.fit(df_train.relation_type.to_list()+df_valid.relation_type.to_list()+df_test.relation_type.to_list())
df_train['label'] = le.transform(df_train.relation_type.to_list())
df_valid['label'] = le.transform(df_valid.relation_type.to_list())
df_test['label'] = le.transform(df_test.relation_type.to_list())

Seeing what we gonna work with ...

In [5]:
df_train.head()

   Unnamed: 0  ...  label
0           0  ...    642
1           1  ...   1391
2           2  ...    957
3           3  ...   1371
4           4  ...   1386

[5 rows x 13 columns]

# Loading BERT model and tokenizer model

Loading the Standard 12L Bert model

In [10]:

# v1.0
# config = AutoConfig.from_pretrained("prajjwal1/bert-tiny")
# tokenizer = AutoTokenizer.from_pretrained("prajjwal1/bert-tiny")
# model = BertForSequenceClassification.from_pretrained("prajjwal1/bert-tiny", num_labels=len(le.classes_))
config = AutoConfig.from_pretrained("bert-base-uncased")
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")
model = BertForSequenceClassification.from_pretrained("/content/drive/MyDrive/data_freebase/classifier", num_labels=len(le.classes_))

# Creating dataset and dataloader for X-y

converting raw data into conventional PyTorch Dataset class

In [11]:
train_encodings = tokenizer(df_train.Question.to_list(), truncation=True, padding=True, max_length=200)
val_encodings = tokenizer(df_valid.Question.to_list(), truncation=True, padding=True, max_length=200)

In [12]:
# convert raw text file to proper dataset object (based on task)
import torch

class ClassificationDataset(torch.utils.data.Dataset):
    def __init__(self, encodings, labels):
        # initialization
        self.encodings = encodings
        self.labels = labels

    def __getitem__(self, idx):
        # slicing method X[index]
        item = {key: torch.tensor(val[idx]) for key, val in self.encodings.items()}
        item['labels'] = torch.tensor(self.labels[idx])
        return item

    def __len__(self):
        return len(self.labels)

train_dataset = ClassificationDataset(train_encodings, df_train.label.to_list())
valid_dataset = ClassificationDataset(val_encodings, df_valid.label.to_list())

Performing training for 5 epochs (definitely further fine-tuning would result in better classifier). The model should be stored somewhere for using RelationDetection script for creating relation candidates.

In [13]:
# transformers API for train :)
from transformers import DistilBertForSequenceClassification, Trainer, TrainingArguments

training_args = TrainingArguments(
    output_dir='./results',          # output directory
    num_train_epochs=5,              # total number of training epochs
    per_device_train_batch_size=128,  # batch size per device during training
    per_device_eval_batch_size=128,   # batch size for evaluation
    # warmup_steps=500,                # number of warmup steps for learning rate scheduler
    # weight_decay=0.01,               # strength of weight decay
    learning_rate= 1e-4,
    adam_epsilon = 1e-8, 
    logging_dir='./logs',            # directory for storing logs
    # logging_steps=10,
    do_eval=True,
    evaluation_strategy = 'epoch'
    
    
)
# training_args.evaluation_strategy = EvaluationStrategy.EPOCH
trainer = Trainer(
    model=model,                         # the instantiated ðŸ¤— Transformers model to be trained
    args=training_args,                  # training arguments, defined above
    train_dataset=train_dataset,         # training dataset
    eval_dataset=valid_dataset,          # evaluation dataset

)

# trainer.train()

# Evaluating the Model

In [14]:
# reading Test Data
test_encodings = tokenizer(df_test.Question.to_list(), truncation=True, padding=True, max_length=200)
test_dataset = ClassificationDataset(test_encodings, df_test.label.to_list())

Predicting on test set

In [28]:
pred = trainer.predict(test_dataset)

***** Running Prediction *****
  Num examples = 21619
  Batch size = 128

Accuracy

In [29]:
pred.predictions.argmax(-1)[:10]
pred.label_ids

array([1318, 1320, 1449, ...,   58,  971, 1447])

In [30]:
from sklearn.metrics import f1_score, accuracy_score, recall_score, precision_score, f1_score

print('Micro Precision', precision_score(pred.label_ids, pred.predictions.argmax(-1), average='micro'))
print('Micro Recall', recall_score(pred.label_ids, pred.predictions.argmax(-1), average='micro'))
print('Micro F1 score', f1_score(pred.label_ids, pred.predictions.argmax(-1), average='micro'))
print('Macro Precision', precision_score(pred.label_ids, pred.predictions.argmax(-1), average='macro'))
print('Macro Recall', recall_score(pred.label_ids, pred.predictions.argmax(-1), average='macro'))
print('Macro F1 score', f1_score(pred.label_ids, pred.predictions.argmax(-1), average='macro'))
print('Accuracy', accuracy_score(pred.label_ids, pred.predictions.argmax(-1)))

Micro Precision 0.824922521855775
Micro Recall 0.824922521855775
Micro F1 score 0.824922521855775
Macro Precision 0.37099581877790233
Macro Recall 0.39488840388214586
Macro F1 score 0.3681853770777389
Accuracy 0.824922521855775

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Saving the model (uncommenting below line would overwrite the existing model)

In [ ]:
# trainer.save_model("/content/drive/MyDrive/data_freebase/classifier")

Saving model checkpoint to /content/drive/MyDrive/data_freebase/classifier
Configuration saved in /content/drive/MyDrive/data_freebase/classifier/config.json
Model weights saved in /content/drive/MyDrive/data_freebase/classifier/pytorch_model.bin

Saving mapping from class label to relation class name.

In [ ]:
import numpy as np 
np.save('/content/drive/MyDrive/data_freebase/classes.npy', le.classes_)

Retrieve 10 most probable classes for relation for each question in Reverb and Freebase

In [ ]:
# reading Test Data
ourtest_df = pd.read_excel('/content/drive/MyDrive/data_freebase/sbs.xlsx')
newtest_texts = ourtest_df.Question.to_list()
# ourtest_df.head()

newtest_encodings = tokenizer(newtest_texts, truncation=True, padding=True, max_length=200)
newtest_dataset = ClassificationDataset(newtest_encodings, [1 for _ in range(len(newtest_texts))])
new_pred = trainer.predict(newtest_dataset)

***** Running Prediction *****
  Num examples = 5003
  Batch size = 128

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Creating Sample for Debugging

In [ ]:
import numpy as np

def softmax(x):
    
    f_x = np.exp(x) / np.sum(np.exp(x))
    return f_x
import numpy as np

first, second, third, sort = [], [], [], []
for idx, item in enumerate(new_pred.predictions):
  temp = softmax(item)
  indices = temp.argsort()
  values = np.sort(temp) 
  first.append((le.inverse_transform([indices[-1]])[0], values[-1]))
  second.append((le.inverse_transform([indices[-2]])[0], values[-2]))
  third.append((le.inverse_transform([indices[-3]])[0], values[-3]))
  sort.append(values[-1])

  # print(first, second, third)
  # break
debug = pd.DataFrame({
                      'Question':newtest_texts,
                      'First':first,
                      'Second':second,
                      'Third':third,
                      'Sort':sort
                     })
debug.to_excel('ours.xlsx', index=False)

In [ ]:
debug[(debug.First.apply(lambda item:item[-1]>0.8))&debug.Question.apply(lambda item:item.find('is')!=-1)]

                                     Question  ...      Sort
27                          What is Driftwood  ...  0.987213
28                              who is Yumiko  ...  0.976420
30                               Where is Nak  ...  0.952990
35           Who left his hometown of Chicago  ...  0.982312
36    what is the ninth album by Tanya Tucker  ...  0.914903
...                                       ...  ...       ...
4971                            where is KUAC  ...  0.874943
4975                    where is Machrihanish  ...  0.989887
4977                             What is Brhl  ...  0.981618
4997                    what town is in Italy  ...  0.987959
5000                           What is Louise  ...  0.992040

[798 rows x 5 columns]

In [ ]:
debug[debug.Question.apply(lambda item:item.find('is')!=-1)]

                                            Question  ...      Sort
1         of what is A Shooting Star another brand    ...  0.035570
11         over what has Jewish leadership evolved    ...  0.029125
13    What typically include nationalised industries  ...  0.077476
15                              Where is L2CAP used   ...  0.155920
27                                 What is Driftwood  ...  0.987213
...                                              ...  ...       ...
4994                since when has Steyning existed   ...  0.109647
4995                    for what  is parking created  ...  0.632497
4997                           what town is in Italy  ...  0.987959
5000                                  What is Louise  ...  0.992040
5001             for what animals is not Silage good  ...  0.202820

[1972 rows x 5 columns]

In [ ]:
import numpy as np

def softmax(x):
    
    f_x = np.exp(x) / np.sum(np.exp(x))
    return f_x
import numpy as np

first, second, third, answer, sort = [], [], [], [], []
for idx, item in enumerate(pred.predictions):
  temp = softmax(item)
  indices = temp.argsort()
  values = np.sort(temp) 
  first.append((le.inverse_transform([indices[-1]])[0], values[-1]))
  second.append((le.inverse_transform([indices[-2]])[0], values[-2]))
  third.append((le.inverse_transform([indices[-3]])[0], values[-3]))
  sort.append(values[-1])

  # print(first, second, third)
  # break
debug = pd.DataFrame({
                      'Question':df_test.Question.to_list(),
                      'First':first,
                      'Second':second,
                      'Third':third,
                      'Answer':df_test.relation_type.to_list()
                      'Sort':sort,
                     })
debug.to_excel('freebase.xlsx', index=False)

In [ ]:
pred

PredictionOutput(predictions=array([[-1.5081786 , -0.2964749 , -1.8974983 , ..., -1.1388532 ,
        -2.6386049 , -0.6149134 ],
       [-3.752223  , -2.1240869 , -3.1193984 , ..., -2.93882   ,
        -3.849748  , -1.6930649 ],
       [-2.0788586 , -0.43151364, -1.3509523 , ..., -1.4018582 ,
        -2.4768994 , -0.5686034 ],
       ...,
       [-3.5965514 , -2.6662111 , -2.1668787 , ..., -1.6797744 ,
        -1.2552487 , -2.988654  ],
       [-1.373984  , -0.43671474, -1.6213957 , ..., -1.917182  ,
        -1.2366729 , -0.72635925],
       [-2.613196  , -1.7741838 , -1.3350426 , ..., -2.0923038 ,
        -2.9737718 , -1.7797832 ]], dtype=float32), label_ids=array([1318, 1320, 1449, ...,   58,  971, 1447]), metrics={'test_loss': 0.8185576796531677, 'test_runtime': 72.6116, 'test_samples_per_second': 297.735, 'test_steps_per_second': 2.327})